extend layout

block content
  p
    | USE SOME FUCKING 
    b #{backEnd} 
    |FOR YOUR BACK END
  p
    | SHOVE YOUR FUCKING DATA INTO 
    b #{database}
  p 
    | THEN MAKE A GODDAMN FRONT END WITH 
    b #{frontEnd}
  p
    | DON'T FORGET TO USE 
    b #{cssThemes} 
    | TO MAKE IT PRETTY!
  p
    | NOW GAMIFY IT AND MAKE SHITLOADS OF MONEY!
block sidebar
  .widget
    button(type="button", onClick="history.go()").
      GET ANOTHER FUCKING STACK