doctype
html
  head
    title What The Fuck Is My Stack?
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 WHAT THE FUCK IS MY STACK?
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p THE STACK I FUCKING MADE THIS WITH IS 
      b NODE.JS
      |, 
      b EXPRESS
      |, 
      b JADE 
      | AND 
      b STYLUS